<!DOCTYPE html>
<th:block th:replace="/admin/admin_header :: headerFragment"></th:block>

<div class="d-flex w-100 m-0 p-0" id="viewpart" style="height: 100vh;">
    <div class="d-flex flex-column" style="margin:0; padding:0; width:250px; height:100%; border-left:3px; cursor:pointer; border-right:2px;">
        <div id="num_member" style="padding-left:30px; padding-top: 5px; padding-bottom:5px; background-color: #eeeeee;">
            <h4 onclick="openMember()">
                    회원통계 ∨
            </h4>
        </div>
        <h5 id="num_member_all" style="cursor: pointer; display:none; padding-left:40px; padding-top: 5px; padding-bottom:5px;" onclick="numberOfMember()">
                전체 회원통계
        </h5>
        <div id="sales">
            <h4 onclick="openSales()" style="padding-left:30px; padding-top: 5px; padding-bottom:5px; background-color: #eeeeee;">
                    매출 통계 ∨
            </h4>
        </div>
        <div id="total_sales">
            <h5 id="total" style="height:35px; cursor: pointer; display:none; padding-left:40px; padding-top: 5px; padding-bottom:5px;" onclick="total_sales()">
                전체 매출
            </h5>
        </div>
        <div id="term_sales">
            <h5 id="term" style="height:35px; cursor: pointer; display:none; padding-left:40px; padding-top: 5px; padding-bottom:5px;" onclick="term_sales()">
                기간별 매출
            </h5>
        </div>
        <div id="product_sales">
                <h5 id="product" style="height:35px; cursor: pointer; display:none; padding-left:40px; padding-top: 5px; padding-bottom:5px;" onclick="productListOpen()">
                상품별 매출
                </h5>
        </div>
        <div id="product_list" style="flex-grow:1; flex-direction: column; overflow: scroll; display:none;">
            <th:block th:each="productDTO : ${productDTOList}">
                <h7 th:text="'['+${productDTO.prod_code}+']'+${productDTO.prod_name}"
                     class="w-100" style="cursor:pointer; height:40px;padding-left:40px; padding-top: 5px; padding-bottom:5px; white-space: nowrap;" th:onclick="|product_sales(${productDTO.prod_code})|"></h7>
            </th:block>
        </div>
    </div>

    <div id="graphView" class="w-100 h-100">

    </div>
</div>

<script src="/js/statistic.js"></script>
</body>
</html>