<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/user_inc/header :: headerFragment"></th:block>
<style>
    .container{
        width:1200px;
    }
    .direct:hover{
         border-color:#f29a1a;
         background-color:white;
         color:black;
    }
    .cart:hover{
        border-color: black;
        background-color:#f29a1a;
        color:white;
    }
    .review:hover{
        background-color:#f29a1a;
        color:white;
    }
    .info:hover{
        color:#f29a1a;
        cursor:pointer;
    }
    .review:hover{
        color:#f29a1a;
        cursor:pointer;
    }
</style>
<div class="container d-flex col-6" style="padding-top:150px;">
    <div class="me-3 col">
        <img th:src="@{/image/}+${productDTO.prod_thumbnail}" alt="Card image" style="width:700px;">
    </div>
    <div>
      <p class="m-3 col" th:text="${productDTO.prod_comment}"></p>
        <h4 class="m-3" th:text="&lbrack;+${productDTO.getProd_brand()}+&rbrack;+${productDTO.prod_name}"></h4>
        <br>
        <br>
        <br>
        <h3 class="m-3 text-end" id="prod_price" th:text="${productDTO.prod_price}"></h3>
        <hr class="m-3">
        <div class="d-flex w-100 col-6">
            <h7 class="m-2" style="width:70px;" th:text="배송"></h7>
            <p class="m-2">5만원이상 구매시 무료배송</p>
        </div>
        <div class="d-flex w-100 col-6">
            <h7 class="m-2" style="width:70px;" th:text="원산지"></h7>
            <p class="m-2" th:text="${productDTO.prod_country}"></p>
        </div>
        <div class="d-flex w-100 col-6">
            <h7 class="m-2" style="width:70px;" th:text="제조사"></h7>
            <p class="m-2" th:text="${productDTO.prod_brand}"></p>
        </div>
        <div class="d-flex w-100 col-6">
            <p class="m-2">*****</p>
        </div>
        <div class="d-flex w-100 m-2 justify-content-end">
            <input type='button' value='-' class='btn rounded-circle btn-outline-secondary m-1' onclick = "minusQty()" style="width:40px;">
            <input class="text-center border-0" type="text" name="order_qty" id="order_qty" size="3" value="1"/><br/>
            <input type='button' value='+' class='btn rounded-circle btn-outline-secondary m-1' onclick = "plusQty()" style="width:40px;">
        </div>
        <div class="d-flex justify-content-center" style="margin-top:40px;">
            <input type='button' value='장바구니' class='btn cart btn-lg p-2' style="border-color:#f29a1a; margin-right:60px; width:150px;" th:onclick = "userCartObject.insertCart([[${productDTO.prod_code}]], [[${session.userLoginDto?.user_id}]])">
            <input type='button' value='바로구매' class='btn direct btn-lg p-2' style="color:white; background-color:#f29a1a; width:150px;" onclick = "">
        </div>
    </div>
</div>
<br>
<br>
<div class="container d-flex mt-5 align-items-end">
    <h3 class="info me-4">상세정보</h3>
    <h4 class="review center-block">리뷰</h4>
</div>

<div class="container d-flex flex-column mt-4" id="productImage" style="height:800px; overflow:hidden;">
    <th:block th:each="productImage : ${productImageList}" class="m-0 p-0">
        <img th:src="@{/image/}+${productImage}" alt="Card image" style="width:800px;">
    </th:block>
</div>
<div class="container mb-5">
    <div id="infoShow">
        <input type="button" class="btn p-3" id="productShowBtn" value="상품정보 더보기" onclick="productInfoShow()"
               style="border:none; width:800px; background-color: #f29a1a; color:white; font-size:2em;">
    </div>
    <div id="infoHide" style="width:800px; display:none;">
        <hr class="mt-3">
        <h3 class="text-center" onclick="productInfoHide()" style="cursor:pointer;">접기</h3>
    </div>
</div>
<hr class="mt-3">
<div class="container mt-3" id="replyArea">

    <textarea class="w-100" id="reply_content" name="reply_content"
              th:placeholder="${session.userLoginDto?.user_id==null?'로그인 후 작성가능합니다':'상품리뷰를 작성하세요'}" onclick="reviewTextArea()"></textarea>
    <th:block th:if="${session.userLoginDto?.user_id!=null}">
        <div class="d-flex justify-content-end m-3">
        <th:block th:if="${session.userLoginDto?.user_id!=null}" class="d-flex">
            <select id="reply_rating" name="reply_rating">
                <option value="0">별점</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </th:block>
            <input type="submit" class="btn review btn-lg p-2 ms-3" style="border-color:#f29a1a; color:black;" value="상품리뷰 등록" onclick="reviewRegister()">
    </div>

</div>

<script>

    function minusQty(){
        let orderQty = Number($("#order_qty").val())-1;
        document.getElementById("order_qty").value=orderQty;
        if(orderQty==0){
            alert("1개 미만으로 담을 수 없습니다.");
           document.getElementById("order_qty").value=1;
        }
    }
    function plusQty(){
        let orderQty = Number($("#order_qty").val())+1;
        document.getElementById("order_qty").value=orderQty;
    }
    function productInfoShow(){
        document.getElementById("productImage").style.overflow="visible";
        document.getElementById("productShowBtn").style.display="none";
        document.getElementById("infoHide").style.display="block";
        document.getElementById("productImage").style.height="100%";
    }
    function productInfoHide(){
        document.getElementById("productImage").style.overflow="hidden";
        document.getElementById("productShowBtn").style.display="block";
        document.getElementById("infoHide").style.display="none";
        document.getElementById("productImage").style.height="800px";
    }
    function reviewTextArea(){
        if([[${session.userLoginDto?..user_id==null}]]){
            alert("로그인 후 작성 가능합니다");
            return;
        }
    }
    $(document).ready(function(){
        let reply_prod_code = [[${productDTO.prod_code}]]
        let reply_user_id = [[${session.userLoginDto?.user_id}]];
        let replyArea = $("replyArea");//댓글 영역 해당 객체
        let viewPage = 1;

        displayList(viewPage);

        function displayList(viewPage){
            let str = "";
            replyFunc.getList({reply_prod_code: reply_prod_code, viewPage: viewPage||1 }, function(data){
                console.log(data);
                let list = data.list;
                //댓글이 있는 경우
                for(let i=0; i<list.length; i++){
                    str+='<hr mb-3>'
                        +'<li class="mb-2 p-0" data-rno="'+list[i].rno+'" style="cursor: pointer;">'
                        +'<div class="form-control">'
                        +'<div class="d-flex justify-content-between">'
                        +'<h6>'+list[i].replyer+'</h6><span>'+replyFunc.showDateTime(list[i].r_date)+'</span>'
                        +'</div>'
                        +'<p>'+list[i].r_contents+'</p>'
                        +'</div>'
                        +'</li>';
                }
                replyArea.append(str);
                showPgNavi(data);
            });
        }

        //////////pageNation 처리///////////
        let pageArea = $(".pagination");

        function showPgNavi(data){
            let prevPage = data.prevPage;
            let nextPage = data.nextPage;
            let blockStart = data.blockStart;
            let blockEnd = data.blockEnd;

            let totalPage = data.totalPage;
            let viewPage = data.viewPage;

            let str = "";

            if(prevPage){
                str +='<li class="page-item"> '
                    + '<a class="page-link" href="'+prevPage+'>이전</a>'
                    + '</li>';
            }
            for(let i = blockStart; i<=blockEnd; i++){
                let active = viewPage==i?"active": "";
                str+='<li class="page-item '+active+'">'
                    +'<a class="page-link" href="'+i+'">'+i+'</a>'
                    +'</li>';
            }

            if(blockEnd<totalPage){
                str+= '<li class="page-item">'
                    + '<a class="page-link" href="'+nextPage+'>다음</a>'
                    +'</li>';
            }
            pageArea.html(str);

        }//showPgNavi

        pageArea.on("click", "li a", function(e){
            e.preventDefault();
            //$(this)는 a태그
            let targetPage = $(this).attr("href");
            viewPage = targetPage;
            displayList(viewPage);
        })
    })
</script>
<script src="/js/userCart.js"></script>
</body>
</html>