
<th:block th:replace="/user_inc/header :: headerFragment"></th:block>

<div class="userinfo_container">
    <div class="userinfo_wrap">
        <p class="infoupdate_title">회원 정보 수정</p>
        <div class="userinfo_pwChk">
            <form class="userinfo_input" action="" method="post">
                <div class="infoupdate_inner">
                    <div class="userinfo_box info_inner">
                        <div class="label_box user_label">
                            <label for="user_id">아이디</label>
                        </div>
                        <div class="input_box">
                            <input type="text" id="user_id" name="user_id" class="update_input" value="" readonly />
                        </div>
                    </div>
                    <div class="info_inner">
                        <div class="label_box name_label">
                            <label for="user_name">이름</label>
                        </div>
                        <div class="input_box">
                            <input type="text" id="user_name" name="user_name" class="update_input" value=""/>
                        </div>
                    </div>
                    <div class="validation validation_input_name">
                        <p class="validation_text">이름을 입력해주세요</p>
                    </div>
                    <div class="info_inner">
                        <div class="label_box email_label">
                            <label for="user_email">이메일</label>
                        </div>
                        <div class="input_box">
                            <input type="password" id="user_email" name="user_email" class="update_input" value="" />
                        </div>
                        <button type="button" class="confirm_btn " onclick="emailBtn()">이메일 인증</button>
                    </div>
                    <div class="validation validation_email">
                        <p class="validation_text">이메일 형식으로 입력해주세요</p>
                    </div>
                    <div class="validation validation_input_email">
                        <p class="validation_text">이메일을 입력해주세요</p>
                    </div>
                    <div class="info_inner">
                        <div class="label_box tel_label">
                            <label for="user_tel">휴대폰</label>
                        </div>
                        <div class="input_box">
                            <input type="text" id="user_tel" name="user_tel" class="update_input" value="" />
                        </div>
                        <button type="button" class="confirm_btn" onclick="telBtn()">휴대폰 인증</button>
                    </div>
                    <div class="validation validation_input_tel">
                        <p class="validation_text">휴대폰 번호를 입력해주세요</p>
                    </div>
                    <div class="userinfo_box info_inner ">
                        <div class="label_box gender_label">
                            <span>성별</span>
                        </div>
                        <div class="gender_box">
                            <label><input type="radio" name="user_gender" class="gender_radio" value="" readonly/> 남자</label>
                            <label><input type="radio" name="user_gender" class="gender_radio" value="" readonly/> 여자</label>
                        </div>
                    </div>
                    <div class="userpw_box info_inner">
                        <div class="label_box birth_label">
                            <label for="user_email">생년월일</label>
                        </div>
                        <div class="input_box">
                            <input type="date" id="user_birthday" name="user_birthday" class="update_input" value="" readonly />
                        </div>
                    </div>
                </div>
                <!-- </form> -->
                <div class="userupdate_btn_box addr_update">
                    <p class="addr_title">기본 배송지</p>
                    <div class="addr_box">
                        <div class="info_inner userAddr_box">
                            <div class="label_box addr_label">
                                <label for="user_zipcode">우편번호</label>
                            </div>
                            <div class="input_box">
                                <input type="text" id="user_zipcode" name="user_zipcode" class="addr_num_input" value=""/>
                            </div>
                        </div>
                        <div class="info_inner userAddr_box">
                            <div class="label_box zibun_label">
                                <label for="user_zibunaddr">주소</label>
                            </div>
                            <div class="input_box addr_seach addr_inner">
                                <input type="text" id="user_zibunaddr" class="addr_input" name="user_zibunaddr" value="">
                            </div>
                            <button type="button" class="addr_seachBtn" onclick="">주소 검색</button>
                        </div>
                        <div class="info_inner userAddr_box">
                            <div class="label_box addr_label">
                                <label for="user_detailaddr">상세주소</label>
                            </div>
                            <div class="input_box addr_detail addr_inner">
                                <input type="text" id="user_detailaddr" class="addr_input" placeholder="상세주소 입력" name="user_detailaddr" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="btn_inner">
                <button type="button" class="userUpdate_btn deleteBtn" onclick="userDeleteBtn()">탈퇴하기</button>
                <button type="submit" class="userUpdate_btn" onclick="userUpdateBtn()">회원정보수정</button>
            </div>
        </div>
    </div>
</div>


<!--<th:block th:replace="/user_inc/footer :: footerFragment"></th:block>-->
<th:block th:replace="/user_inc/footer :: scriptFragment"></th:block>