<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 헤더 -->
<th:block th:replace="/user_inc/header :: headerFragment"></th:block>

<link rel="stylesheet" th:href="@{/css/userLogin.css}">
<div class="wrap01">
  <form th:action="@{/user/userLogin}" method="post">

    <p class="user_login">로그인</p>

    <!-- 아이디 & 비밀번호 입력창-->
    <div class="inputbox_wrap">
      <input class="inputbox01" type="text" id="user_id" name="user_id" placeholder="아이디를 입력해주세요."/>
      <input class="inputbox02" type="text" id="user_pw" name="user_pw" placeholder="비밀번호를 입력해주세요."/>
    </div>

    <!-- 아이디 & 비밀번호 찾기 -->
    <div class="find_wrap">
      <a class="find01" href="">아이디 찾기 </a>
      <span class="find_bar"></span>
      <a class="find02" href="">비밀번호 찾기</a>
    </div>

    <!-- 로그인 & 회원가입 버튼-->
    <div class="register_wrap">
      <input class="registerbox01" type="submit" value="로그인"/>
<!--      <input class="registerbox02" type="button" value="회원가입"/>-->
      <div class="registerbox02"><a class="registerbox03" th:href="@{/user/userRegister}">회원가입</a></div>
    </div>
  </form>
</div>

<!-- 푸터 -->
<!--  <th:block th:replace="/user_inc/footer :: footerFragment"></th:block>-->
<th:block th:replace="/user_inc/footer :: scriptFragment"></th:block>

</body>
</html>