/* section 01 */

.section_one {
    /*position: relative;*/
}

.img_box {
    width: 100%;
    height: 830px;
    position: relative;
    /*position: absolute;*/
    /*top: 65px;*/
}


.img_content {
    position: absolute;
    top: 50%;
    left: 5%;
    /*border: 1px solid #333333;*/
}

.add_recipe {
    padding: 0.6em 0.5em;
    font-size: 13px;
    background-color: rgba(51, 51, 51, 0);
    border: 1px solid #333;
    /*border-radius: 0.4em;*/
    cursor: pointer;
    transition: .3s;
}

.add_recipe:hover {
    color: #fff;
    background-color: #555;
    border: 1px solid #555;
}

/* section 02 */

/* main - new slider */
.slick-dots {
    width: 30em;
    bottom: 4.8em;
    left: 48em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/*.main-btn {*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    border: none;*/
/*    background-color: #ffffff00;*/
/*    cursor: pointer;*/
/*}*/

.prev-btn {
    background-image: url(../image/main_sec1/main_prev_btn.png);
    position: absolute;
    bottom: 63%;
    left: 5%;
}

.next-btn {
    background-image: url(../image/main_sec1/main_next_btn.png);
    position: absolute;
    bottom: 63%;
    left: 90%;
}

.section02 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-menu {
    padding-left: 1em;
}

.inner {
    width: 1200px;
    margin: auto;
    /*border: 1px solid #333333;*/
}

.title__box {
    display: flex;
    padding: 1em;
    border: 1px solid #333333;
}

.new_title {
    border: 1px solid #333333;
    width: 100%;
}

.new_title h2 {
    font-size: 25px;
    font-weight: 600;
}

.more-btn{
    border: none;
    color: #dddddd;
    /*background-color: #6c801a;*/
    font-size: 14px;
    font-weight: 550;
    margin: 0.4em 0 0 2em;
    padding: 0.5em 1em;
    /*border-radius: 3em;*/
}

/*.best__img01 {*/
/*    width: 200px;*/
/*    transition: .2s;*/
/*}*/

.img_test {
    width: 200px;
    height: 200px;
    border: 1px solid #333333;
    transition: .2s;
}

.best__img01:hover {
    transform: scale(1.1);
}


.best__price {
    font-weight: 600;
    font-size: 18px;
    padding-top: 0.5em;
}

/* slider btn */

.best-btn {
    cursor: pointer;
    color: #ddd;
    position: absolute;
    font-size: 30px;
}

.best-prev {
    top: 48%;
    left: -5%;
}

.best-next {
    bottom: 48%;
    right: -5%;
}

/* 더보기 */

/*.best-more {*/
/*    margin: 5em;*/
/*    text-align: center;*/
/*    padding: 3em;*/
/*}*/

/*.best-more__btn {*/
/*    background-color: #fff;*/
/*    border: 1px solid #ddd;*/
/*    font-size: 15px;*/
/*    padding: 1em 4em;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*}*/

/*.best-more__btn span {*/
/*    color: #555;*/
/*    font-weight: 540;*/
/*}*/