/* 초기화 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 컨텐츠 부분 전체 감싸기 */
.user_register_wrap{
    text-align: center;
    padding-top: 200px;
    justify-content: center;

}

/* 회원가입 가운데 정렬*/
.user_register_form{
    margin: 0 auto;
}

/* 회원가입 헤더부분 */
.user_register_header{
    display: flex;
    flex-direction: column;
    position: relative;
}

/* 회원가입 제목부분 */
.user_register{
    font-size: 30px;
    font-weight: bold;
    color: #424242;
    margin-bottom: 30px;
}

/* 필수입력사항 글자 */
.must_write{
margin-left: 550px;
}

.must_write01{
    color: red;
    font-size: 13px;
}

.must_write02{
    color: #424242;
    font-size: 13px;
}

/* 밑줄 */

.register_line{
    padding-bottom: 10px;
    border-bottom: 2px solid #424242;
    font-size: 12px;
    color: #424242;
    line-height: 17px;
    width: 650px;
    margin: 0 auto;
}

/* 회원가입 메인 */

.user_register_form{
    /*border: 1px solid green;*/
    width: 600px;
    margin: 20px auto;
}

.register_content_wrap{
    width: 600px;
    height: 80px;
    display: flex;
    margin: 0 auto;
    /*border: 1px solid red;*/
}


.register_content01{
    width: 20%;
    height: 45px;
    font-size: 14px;
    font-weight: bold;
    /*margin-right: 100px;*/
    justify-content: center;
    line-height:45px;
    /*border: 1px solid deepskyblue;*/
}

.must_write04{
    color: red;
}

.register_content02{
    width: 50%;
    height: 100px;
    /*line-height:60px;*/
    margin: 0 auto;
}

.content_box{
    width: 320px;
    height: 80px;
    text-align: center;
    /*border: 1px solid blue;*/
}

.register_content_box{
    width: 300px;
    height: 45px;
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 0 11px 1px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.register_content03{
    width: 20%;
    height: 45px;
    text-align: center;
    /*border: 1px solid springgreen;*/
}

.register_content_button{
    width: 100px;
    height: 45px;
    font-size: 14px;
    font-weight: bold;
    color: #f29a1a;
    border: 1px solid #f29a1a;
    font-weight: bold;
    background-color: white;
    padding: 0 11px 1px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}


/* 유효성 검사 글씨 */

#p_check{
    color: red;
    font-size: 11px;
}

/* 회원가입 버튼 */

#register_button{
    color: white;
    background-color: #f29a1a;
    border: #f29a1a;
    font-weight: bold;
}

/* 주소 부분 감싸기 */
.adress_wrap{
    margin-top: 20px;
}