<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >

<!-- header -->
<th:block th:replace="/admin/admin_header :: headerFragment"></th:block>



<!-- Card -->
<div class="container w-50 mt-3">
    <h3>레시피 리스트 </h3>

    <form th:action="@{/admin/recipe/recipeSearch}" method="post">

            <div>
        <input type="text" name="RCP_NM" placeholder="전체 검색">
                <input class="btn btn-sm btn-warning" type="submit" value="검색">
            </div>
        <div>
<!--            <조리종류>-->
        <label><input type="checkbox" name="RCP_WAY2" value="볶기">볶기</label>
        <label><input type="checkbox" name="RCP_WAY2" value="굽기">굽기</label>
        <label><input type="checkbox" name="RCP_WAY2" value="튀기기">튀기기</label>
        <label><input type="checkbox" name="RCP_WAY2" value="끓이기">끓이기</label>
        <label><input type="checkbox" name="RCP_WAY2" value="찌기">찌기</label>
        <label><input type="checkbox" name="RCP_WAY2" value="기타">기타</label>


<!--        <select id="rcp_pat2" name="rcp_pat2">-->
<!--            <option value="ALL">메뉴종류</option>-->
<!--            <option value="남"></option>-->
<!--            <option value="여">여</option>-->
<!--            <option value="여">여</option>-->
<!--            <option value="여">여</option>-->
<!--            <option value="여">여</option>-->
<!--        </select>-->

        </div>
        <div>
<!--            <메뉴종류>-->
            <label><input type="checkbox" name="RCP_PAT2" value="반찬">반찬</label>
            <label><input type="checkbox" name="RCP_PAT2" value="일품">일품</label>
            <label><input type="checkbox" name="RCP_PAT2" value="국&찌개">국&찌개</label>
            <label><input type="checkbox" name="RCP_PAT2" value="후식">후식</label>
            <label><input type="checkbox" name="RCP_PAT2" value="기타">기타</label>
            <label><input type="checkbox" name="RCP_PAT2" value="밥">밥</label>
        </div>

    </form>

        <table class="table">

            <thead>
            <tr><!--메뉴-->
                <th>레시피사진</th>
                <th>메뉴이름</th>
                <th>메뉴종류</th>
                <th>조리종류</th>
                <th>해시태그</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="recipe: ${list}">
                <block th:each="dto: ${recipe}">
<!--                    <input type="hidden" th:value="${dto.id}">-->
                <tr>
                    <td>
                        <a><img th:src="${dto.ATT_FILE_NO_MAIN}" width="100"></a>
                    </td>

                    <td><a th:text="${dto.RCP_NM}" th:href="@{/admin/recipeInfo/{id}(id=${dto.id})}"></a></td>
                    <td th:text="${dto.RCP_PAT2}"></td>
                    <td th:text="${dto.RCP_WAY2}"></td>
                    <td th:text="${dto.HASH_TAG}"></td>
                    <!--<td><a class="btn btn-info btn-sm" th:href="@{/admin/recipeInfo(pno=${prod.get('pno')})}">수정</a></td>-->
                    <td></td>
                </tr>
                </block>
            </th:block>
            </tbody>

        </table>
<!--페이지 네이션-->
    <ul class="pagination justify-content-center my-5">
        <li class="page-item" th:class="${pageDTO.prevPage &lt;= 0 ? 'disabled' : ''}">
            <a class="page-link" th:href="@{/admin/recipe(viewPage=${pageDTO.prevPage})}">이전</a>
        </li>
        <!-- pDto를 넘겨받음 -->
<!--        <c:forEach var="i" begin="${pageDTO.blockStart}" end="${pageDTO.blockEnd}">-->
<!--            <li class="page-item ${pageDTO.viewPage == i ? 'active':''}">-->
<!--                <a class="page-link" href="recipeList?viewPage=${i}">${i}</a>-->
<!--            </li>-->
<!--        </c:forEach>-->

        <th:block th:each="i : ${#numbers.sequence(pageDTO.blockStart, pageDTO.blockEnd)}">
            <li class="page-item" th:class="${pageDTO.viewPage == i ? 'active':''}">
               <a class="page-link" th:href="@{/admin/recipe(viewPage=${i})}" th:text="${i}"></a>
            </li>
        </th:block>


        <li class="page-item" th:class="${pageDTO.blockEnd &gt;= pageDTO.totalPage ? 'disabled' : ''}">
            <a class="page-link" th:href="@{/admin/recipe(viewPage=${pageDTO.nextPage})}">다음</a>
        </li>
    </ul>

</div>

<!-- footer -->
<th:block th:replace="/admin/admin_bottom :: footerFragment"></th:block>