<th:block th:fragment="mainFragment">

<div class="main_wrap">
    <main>
        <!-- main banner -->
        <section class="section section_one">
                <div class="img_box" th:style="'background: border-box no-repeat scroll center/100% 100% url('+ @{/imgs/main_img.jpg} +');'">
                    <div class="img_content">
                        <div class="text_box">
                            <p class="recipe_text">오늘은 어떤 요리를 만들어볼까요?</p>
                        </div>
                        <button onclick="location.href='#레시피페이지'" class="add_recipe">더 알아보기</button>
                    </div>
                </div>
        </section>
        <!-- new menu slider  -->
        <section class="section section_two">
            <div class="inner new__innerbox">
                <!-- new menu slide title -->
                <div class="title__box">
                    <div class="new_title">
                        <h2>NEW</h2>
                        <a href="/user/productPage?prod_spec=NEW" class="more-btn">더보기 <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- new menu slider -->
                <div class="new-slider__wrap">
                    <th:block th:each=" productDTO : ${prodSlideList}">
<!--                        <div class="new-menu">-->
<!--                            <div class="img_test">-->
<!--                                <a th:href="@{/user/productView(prod_code=${productDTO.prod_code})}">-->
<!--                                    <img th:src="@{/image/}+${productDTO.prod_thumbnail}" alt="상품이미지" class="best__img01">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <p th:text="${productDTO.prod_name}">상품명</p>-->
<!--                            <p class="new__price" th:text="${productDTO.prod_price}">가격</p>-->
<!--                        </div>-->
                        <th:block th:replace="/user/productSlide"/>
                    </th:block>
            </div>
        </section>
        <section class="section section_three">
            <!-- best menu -->
            <div class="inner best_innerbox">
                <div class="title__box">
                    <div class="new_title">
                        <h2>BEST</h2>
                        <a href="/user/productPage?prod_spec=BEST" class="more-btn">더보기 <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
<!--                <div class="best_imgs">-->
<!--                    <th:block th:each=" productDTO : ${prodSlideList}">-->
<!--                    <div class="new-menu">-->
<!--                        <div class="img_test">-->
<!--                            <a>-->
<!--                                     <img th:src="@{/image/}+${productDTO.prod_thumbnail}" alt="상품이미지" class="best__img01">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <p>상품명</p>-->
<!--                        <p>가격</p>-->
<!--                    </div>-->
<!--                    </th:block>-->
<!--                </div>-->
            </div>
        </section>
    </main>
</div>

</th:block>