<th:block th:fragment="mainFragment">

<div class="main_wrap">
    <main>
        <!-- main banner -->
        <section class="section section_one">
                <div class="img_box" th:style="'background: border-box no-repeat scroll center/100% 100% url('+ @{/imgs/main_img.jpg} +');'">
                    <div class="img_content">
                        <div class="text_box">
                            <p class="recipe_text">오늘은 어떤 요리를 만들어볼까요?</p>
                        </div>
                        <button onclick="location.href='#레시피페이지'" class="add_recipe">더 알아보기</button>
                    </div>
                </div>
        </section>
        <!-- new menu slider  -->
        <section class="section section_two">
            <div class="inner new__innerbox">
                <!-- new menu slide title -->
                <div class="title__box">
                    <div class="new_title">
                        <h2>NEW</h2>
                        <a href="#신상품페이지" class="more-btn">더보기 <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- new menu slider -->
                <div class="new-slider__wrap">
                    <div class="new-menu">
                        <a href="#해당상품링크">
<!--                            <img src="./image/main_sec2/07_main_메모리인제주.png" alt="" class="best__img01">-->
                            <div class="img_test"></div>
                        </a>
                        <p>상품명</p>
                        <p class="new__price">가격</p>
                    </div>
                    <div class="new-menu">
                        <a href="#해당상품링크">
<!--                            <img src="./image/main_sec2/07_main_메모리인제주.png" alt="" class="best__img01">-->
                            <div class="img_test"></div>
                        </a>
                        <p>메모리 인 제주 20입</p>
                        <p class="new__price">38,000원</p>
                    </div>
                    <div class="new-menu">
                        <a href="#해당상품링크">
                            <!-- <img src="./image/main_sec2/07_main_메모리인제주.png" alt="" class="best__img01">-->
                            <div class="img_test"></div>
                        </a>
                        <p>메모리 인 제주 20입</p>
                        <p class="new__price">38,000원</p>
                    </div>
                    <div class="new-menu">
                        <a href="#해당상품링크">
<!--                            <img src="./image/main_sec2/07_main_메모리인제주.png" alt="" class="best__img01">-->
                            <div class="img_test"></div>
                        </a>
                        <p>메모리 인 제주 20입</p>
                        <p class="new__price">38,000원</p>
                    </div>
                    <div class="new-menu">
                        <a href="#해당상품링크">
<!--                            <img src="./image/main_sec2/07_main_메모리인제주.png" alt="" class="best__img01">-->
                            <div class="img_test"></div>
                        </a>
                        <p>메모리 인 제주 20입</p>
                        <p class="new__price">38,000원</p>
                    </div>
                    <div class="new-menu">
                        <a href="#해당상품링크">
<!--                            <img src="./image/main_sec2/07_main_메모리인제주.png" alt="" class="best__img01">-->
                            <div class="img_test"></div>
                        </a>
                        <p>메모리 인 제주 20입</p>
                        <p class="new__price">38,000원</p>
                    </div>
                    <div class="new-menu">
                        <a href="#해당상품링크">
<!--                            <img src="./image/main_sec2/07_main_메모리인제주.png" alt="" class="best__img01">-->
                            <div class="img_test"></div>
                        </a>
                        <p>메모리 인 제주 20입</p>
                        <p class="new__price">38,000원</p>
                    </div>
                    <div class="new-menu">
                        <a href="#해당상품링크">
<!--                            <img src="./image/main_sec2/07_main_메모리인제주.png" alt="" class="best__img01">-->
                            <div class="img_test"></div>
                        </a>
                        <p>메모리 인 제주 20입</p>
                        <p class="new__price">38,000원</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section_three">
            <!-- best menu -->
            <div class="inner best_innerbox">
                <div class="title__box">
                    <div class="new_title">
                        <h2>BEST</h2>
                        <a href="#베스트페이지" class="more-btn">더보기 <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

</th:block>